<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main.html</title>
</head>
<body>
    
    <h1>main page</h1>

    <h3>Welcome, <%= id %> !!</h3>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor expedita fugiat numquam libero quidem, autem ipsum sunt delectus officiis eligendi impedit ullam velit neque cupiditate sit laboriosam fugit quo.</p>

    <img src="images/main_bn3.png" alt="" width="300px;">

    <script src="main.js"></script>
</body>
</html>